<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>Fragment</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	</head>
<body>
	<div th:fragment="header">
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">SI Kependudukan</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/">Cari Data</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/penduduk/update">Ubah Data</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/penduduk/tambah">Tambah Penduduk</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/keluarga/tambah">Tambah Keluarga</a>
				</li>
			</ul>
		</div>
		</nav>
		
	</div>
	<div th:fragment="footer">
	<hr/>
	<h1>Tugas 1 APAP Sistem Kependudukan</h1>
	<h1>Crafted by Adzkia Husnul A</h1>
	</div>
</body>
</html>
